
    .centrador {
        display: flex;
        justify-content: center;
        padding-top: 8%;
    }
   #primera{
    margin-right: 5%;
    
   }
   #tercera{
    margin-left: 5%;
   }
   .centrador2 {
    padding-top: 5%;
    display: flex;
        justify-content: center;
   }